* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
}

.riquadro {
    background-color: black;
    padding: 20px;
    color: white;
}

.titolo {
    font-size: 40px;
    padding: 15px;
    color: white;
}

.hero {
    height: fit-content;
}

.hero-image {
    width: 100%;
    height: 32em;
    object-fit: cover;
}

.hero-bg {
    background-color: black;
    position: relative;
    top: -175px;
}

.spazio {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sezione {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.gap {
    margin: 8px;
}

.stretch {
    width: 30em;
    height: auto;
    object-fit: fill;
}

.center {
    text-align: center;
}

.sottotitolo {
    font-size: 30px;
    width: fit-content;
}

.evidenziato {
    font-weight: normal;
    color: red;
}

.paragrafo {
    font-size: x-large;
}

.footer {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.su {
    position: relative;
    top: -110px;
}